@page "/orderdetails/create"
@using Microsoft.EntityFrameworkCore
@using TreadElswhereApperal.Models
@inject IDbContextFactory<TreadElswhereApperal.Models.EcommerceDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>OrderDetail</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="OrderDetail" OnValidSubmit="AddOrderDetail" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="orderid" class="form-label">OrderId:</label> 
                <InputNumber id="orderid" @bind-Value="OrderDetail.OrderId" class="form-control" /> 
                <ValidationMessage For="() => OrderDetail.OrderId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="productid" class="form-label">ProductId:</label> 
                <InputNumber id="productid" @bind-Value="OrderDetail.ProductId" class="form-control" /> 
                <ValidationMessage For="() => OrderDetail.ProductId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity:</label> 
                <InputNumber id="quantity" @bind-Value="OrderDetail.Quantity" class="form-control" /> 
                <ValidationMessage For="() => OrderDetail.Quantity" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="priceperunit" class="form-label">PricePerUnit:</label> 
                <InputNumber id="priceperunit" @bind-Value="OrderDetail.PricePerUnit" class="form-control" /> 
                <ValidationMessage For="() => OrderDetail.PricePerUnit" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="subtotal" class="form-label">Subtotal:</label> 
                <InputNumber id="subtotal" @bind-Value="OrderDetail.Subtotal" class="form-control" /> 
                <ValidationMessage For="() => OrderDetail.Subtotal" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/orderdetails">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private OrderDetail OrderDetail { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddOrderDetail()
    {
        using var context = DbFactory.CreateDbContext();
        context.OrderDetails.Add(OrderDetail);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/orderdetails");
    }
}
