@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <ErrorBoundary Context="Exception">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <h1>Sorry, there was an error!</h1>
                    <p>Details: @Exception.Message</p>
                    <p>Inner Exception: @Exception.InnerException</p>
                    <p>Stack Trace: @Exception.StackTrace</p>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>
<BlazoredToasts />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
