
.container {
    margin-top: 20px;
    padding: 0px;
    height: 1000px;
    width: auto;
/*    border: 1px solid red;*/
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    gap: 5px;
}

.product-image {
    height: auto;
    width: auto;
/*    border: 1px solid green;*/
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
}

.img-fluid {
    height: 395px;
    width: 615px;
    object-fit: cover;
}

.product-details {
    height: auto;
    width: auto;
    margin-top: 30px;
/*    border: 1px solid blue;*/
    display: flex;
    flex-direction: column;

}


.row.col,button {
   height: auto;
   width: auto;
}

.button-box {
    display: inline-block;
/*    flex-direction: row;*/
}

.featured-products {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-around;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}