@page "/blog"



<header>
    <h1>Hat Blog</h1>
</header>

<main class="grid-container" style="background-color: #d1dedd; padding-top: 20px;">
    <article class="featured">
        <img src="/lib/images/bluehat.png" alt="featured hat" />
        <div>
            <h2>Blue Hat</h2>
            <p>Lorem ipsum dolor sit amet. A unde mollitia est dignissimos nemo aut dolore voluptatum sit
                aperiam saepe qui velit velit. Qui error galisum sed repellendus quia et perspiciatis neque
                non optio repellat qui magnam illo aut voluptate necessitatibus ut nihil unde. Qui voluptas
                quia vel quia assumenda in deserunt laboriosam.
            </p>
        </div>
    </article>
    <article>
        <img src="/lib/images/blackhat.png"/>
        <h3>Black Hat</h3>
        <p>
            Lorem ipsum dolor sit amet. A unde mollitia est dignissimos nemo aut dolore voluptatum sit
            aperiam saepe qui velit velit. Qui error galisum sed repellendus quia et perspiciatis neque
            non optio repellat qui magnam illo aut voluptate necessitatibus ut nihil unde. Qui voluptas
            quia vel quia assumenda in deserunt laboriosam.
        </p>
    </article>
    <article>
        <img src="/lib/images/bluehat.png" />
        <h3>Flag Hat</h3>
        <p>
            Lorem ipsum dolor sit amet. A unde mollitia est dignissimos nemo aut dolore voluptatum sit
            aperiam saepe qui velit velit. Qui error galisum sed repellendus quia et perspiciatis neque
            non optio repellat qui magnam illo aut voluptate necessitatibus ut nihil unde. Qui voluptas
            quia vel quia assumenda in deserunt laboriosam.
        </p>
    </article>
    <article>
        <img src="/lib/images/blackhat.png" />
        <h3>Black Hat</h3>
        <p>
            Lorem ipsum dolor sit amet. A unde mollitia est dignissimos nemo aut dolore voluptatum sit
            aperiam saepe qui velit velit. Qui error galisum sed repellendus quia et perspiciatis neque
            non optio repellat qui magnam illo aut voluptate necessitatibus ut nihil unde. Qui voluptas
            quia vel quia assumenda in deserunt laboriosam.
        </p>
    </article>
</main>



@code {

}
