@page "/HolyGrail"


<div class="grid-container">
    <header>
        <h1>Holly Grail</h1>
    </header>

    <nav>
        <p>Categories</p>
        <ul>
            <li>Film</li>
            <li>Books</li>
            <li>Games</li>
            <li>Food</li>
            <li>Outdoor</li>
        </ul>
    </nav>
    <article>
        <h2>Best Game Adeventures</h2>
        <img src="/lib/images/bluehat.png" alt="article banner" />
        <p>
            Lorem ipsum dolor sit amet. A unde mollitia est dignissimos nemo aut dolore voluptatum sit
            aperiam saepe qui velit velit. Qui error galisum sed repellendus quia et perspiciatis neque
            non optio repellat qui magnam illo aut voluptate necessitatibus ut nihil unde. Qui voluptas
            quia vel quia assumenda in deserunt laboriosam.
        </p>
        <p>
            Lorem ipsum dolor sit amet. A unde mollitia est dignissimos nemo aut dolore voluptatum sit
            aperiam saepe qui velit velit. Qui error galisum sed repellendus quia et perspiciatis neque
            non optio repellat qui magnam illo aut voluptate necessitatibus ut nihil unde. Qui voluptas
            quia vel quia assumenda in deserunt laboriosam.
        </p>
    </article>
    <aside>
        <ul>
            <li>
                <p><string>Published on:</string></p>
                <p>May 6th 2022</p>
            </li>
            <li>
                <p><string>In the Category: </string></p>
                <p>Games</p>
            </li>
            <li>
                <p><string>Written By:</string></p>
                <p>Rhea Doggie</p>
            </li>
        </ul>
    </aside>
    <footer>
        <p>Copyright 2025 Best Hats</p>
    </footer>
</div>


















@code {

}
