@page "/"

<div class="page-container">
    <div class="header row" style="height: 500px;border: 1px solid black; background-image: url(/lib/images/homepagecover.png); object-fit: contain;">
            @* <img src="/lib/images/homepagecover.png" style="height: auto;width: auto; object-fit: contain;" /> *@

    </div>
</div>
