@page "/"
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<EcommerceDbContext> DbContextFactory
@inject NavigationManager NavigationManager

@* style="height: 500px;border: 1px solid black; background-image: url(/lib/images/homepagecover.png); object-fit: cover;" *@
@* <img src="/lib/images/homepagecover.png" style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 500px;" /> *@
<div class="grid-container" >



    <div class="header"> 
        <div class="header-title" style="height: 30%; width: 30%; margin-left: 50px;"> 
            <h2 class="header-t">Summer Collection</h2> 
            <p class="header-p">Look good this summer in a stylish new hat</p> 
            <button class="header-button">Summer Collection</button>
        </div>    
    </div>
    <div class="featured-products">
        <h2>Best Sellers</h2>
        <hr />
        <div class="featured-products-inner">
            @foreach (var product in listOfProducts)
            {
                <_ProductCard Product="product" />
            }
        </div>
    </div>
    <div class="banner-row">
        <div class="icon-col"><i class="bi bi-truck"></i> Free Shipping</div>
        <div class="icon-col"><i class="bi bi-mailbox-flag"></i> Easy Return</div>
        <div class="icon-col"><i class="bi bi-star-fill"></i> 30,000 5-Star Reviews</div>
    </div>
    <div class="collections">
        <div class="collection-item">
            <img class="collection-image" src="/lib/images/winter.jpg"/>
            <div class="content">
                @* <p class="content-text">Winter Collection</p> *@
                <button Class="content-button">Winter Collection</button>
            </div>
        </div>
        <div class="collection-item">
            <img class="collection-image" src="/lib/images/spring (1).jpg" />
            <div class="content">
                @* <p class="content-text">Spring Collection</p> *@
                <button Class="content-button">Spring Collection</button>
            </div>
        </div>
        <div class="collection-item">
            <img class="collection-image" src="/lib/images/falls.jpg" />
            <div class="content">
                @* <p class="content-text">Winter Collection</p> *@
                <button Class="content-button">Winter Collection</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            Copyright 
        </div>
        <div>

        </div>
    </div>

</div>

@code {
    private EcommerceDbContext _dbContext = default!;
    List<Product> listOfProducts = new();

    protected override async Task OnInitializedAsync()
    {
        _dbContext = DbContextFactory.CreateDbContext();
        listOfProducts = await _dbContext.Products.ToListAsync();
        listOfProducts = listOfProducts.GetRange(0, 4);
    }
}
