@inject NavigationManager NavigationManager

<Card Class="mb-4" Style="width:18rem;">
    <img class="rounded-top" src="@Product.Img" alt="placeholder" />
    <CardBody>
        <CardTitle>@Product.Name</CardTitle>
        <CardText>@Product.ProductDescription</CardText>
        <Button Color="ButtonColor.Primary" Type="ButtonType.Link" @onclick="() => AddToCart(Product)">Add to Cart</Button>
        <Button Color="ButtonColor.Secondary" @onclick="NavigateToDetails" Type="ButtonType.Link">View Details</Button>
    </CardBody>
</Card>

@code {
    [Parameter]
    public Product Product { get; set; } = new Product();

    [Parameter]
    public EventCallback<Product> OnAddToCart {get; set;}

    private void NavigateToDetails()
    {
        NavigationManager.NavigateTo($"/products/details/{Product.Id}");
    }

    private async Task AddToCart(Product product)
    {
        await OnAddToCart.InvokeAsync(product);
    }
}

