@using System.Text.Json
@inject ProtectedLocalStorage _protectedLocalStorage
@inject ICartService _cartService
@inject NavigationManager NavigationManager
@implements IDisposable



<a href="/shoppingcart" class="btn btn-info">
    <i class="bi bi-cart"></i>
    Cart
    <span class="badge rounded-pill bg-dark">

        @cartCount


    </span>
</a>




@code {
    private int? cartCount = 0;
    private bool isConnected;

    protected override void OnInitialized()
    {
        _cartService.OnChange += StateHasChanged;
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isConnected = false;
            await LoadStateAsync();
            StateHasChanged();
        } else
        {
            await LoadStateAsync();
            StateHasChanged();
        }
        //_cartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _cartService.OnChange -= StateHasChanged;
    }

    private async Task LoadStateAsync()
    {
        try
        {
            var result = await _protectedLocalStorage.GetAsync<List<Product>>("cart1");

            var count = result.Success ? result.Value?.Count : 0;

            cartCount = count > 0 ? count : 0;
        } catch (Exception ex)
        {
            Console.WriteLine($"Error loading cart: {ex.Message}");
            return;
        }
        
    }






    //@ using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage 
    //@rendermode InteractiveServer
}
